<launch>
    <!-- <param name="robot_description" command="$(find xacro)/xacro -inorder '$(find pcd_filter)/worm_robot_description/urdf/worm_robot_function.xacro'" /> -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pcd_filter)/worm_robot_description/urdf/worm_robot_detail1.xacro'" />

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- send joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="True"/>
    </node>

    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pcd_filter)/launch/config.rviz"/> 
</launch>